* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    max-width: 100vw;
    padding: 0.75%;
    border-radius: 5px;
    background-color: black;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
}

html::-webkit-scrollbar {
    display: none;
}

#loader {
    z-index: 1010;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #000000;
    height: 100vh;
    align-content: center;
    justify-content: center;
    overflow: hidden;

    img {
        width: 40vmax;
        height: auto;
        margin: auto;
    }
}

body {
    width: 100%;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
    background-color: #000000;
    border-radius: 5px;
    background-image: url("../Images/gradient_ultimate.png");
    background-size: contain;
    background-repeat: repeat-y;
}

#first {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

#navigation {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: fit-content;
    display: grid;
    align-items: center;
    z-index: 998;
    padding: 0 5vw;
    background: #000000;

    a {
        color: #eeeeee;
        width: fit-content;
        height: fit-content;
    }

    #center {
        grid-column: 2;
        width: fit-content;
        height: fit-content;
        justify-self: center;
        
        a {
            font-family: 'aquirebold';
            font-size: 5vmax;
            color: #eeeeee;
        }
    }

    #left {
        text-align: left;
        grid-column: 1;
        width: fit-content;
        height: fit-content;
        justify-self: left;
    }

    #right {
        grid-column: 3;
        text-align: right;
        width: fit-content;
        height: fit-content;
        justify-self: right;
    }
}

a {
    text-decoration: none;
    color: #141414;
    font-family: 'aptos';
}

#left,
#right {
    transition: 1s;

    a {
        font-size: 125%;
    }
}

#left:hover,
#right:hover {
    transform: scale(125%);
}

header {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    justify-self: center;
    width: fit-content;
    top: 0;
    font-size: 8vmax;
    z-index: 999;
    align-content: center;

    a {
        font-family: 'aquirebold';
        align-self: center;
        color: #141414;
    }

    #head {
        transition: 0.25s linear;
    }
}

#opening {
    color: #141414;
    font-family: 'aptos';
    font-size: 1rem;
    max-width: 75vw;
    align-self: center;
    cursor: none;
    margin: auto auto 20vh auto;
}

#spotify {
    margin-top: 10vh;
}

iframe {
    margin: 10vmax auto;
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 20px 20px #18191a;
    width: 55vw;
    height: 55vh;
    border-radius: 15px;
    overflow: hidden;
}

#socials {
    margin-top: 2;
    width: 100vw;
    font-family: 'aptos';
    font-size: 2vmax;
    font-weight: 700;

    #socials_list {
        margin: 2vmax auto;
        height: 4.5vmax;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: none;

        .app {
            padding: 0 3%;
            height: 100%;

            a {
                height: 100%;
                width: 100%;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

/* Source: https://www.youtube.com/watch?v=MBaw_6cPmAw */

#learnt {
    color: #eeeeee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(95%);
    transition: 0.35s ease-in-out;
    border: 2px solid #141414;
    border-radius: 25px;
    z-index: -1;
    background-color: #141414;
    width: 95vw;
    opacity: 0;
    max-width: 95vw;
}

#learnt.active {
    z-index: 1001;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#learnt_header {
    font-family: 'Tusker Grotesk SB 3600';
    font-size: 4vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #141414;
    padding: 1vmax 3vmax 3vmax 2vmax;
}

#learnt_close {
    font-weight: 600;
    color: #eeeeee;
    transform: scale(350%);
}

#overlay {
    position: fixed;
    max-height: 100vh;
    max-width: 100vw;
    transition: 0.5s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
}

button {
    width: fit-content;
    color: #141414;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:hover {
    transform: scale(103%);
}

#learning {
    max-width: 80vw;
    display: grid;
    align-self: center;
    margin: 2vmax auto 4vmax auto;
    font-family: 'aptos';
    font-size: 1.5vmax;
    z-index: 999;

    div {
        grid-column: 2;
        height: 1em;

        img {
            display: block;
            height: 100%;
        }
    }
}

#learnt_body {
    max-width: 90%;
    font-family: 'aptos';
    font-size: 1.4vmax;
    line-height: 200%;
    margin: 0 auto 5vmin auto;
}

footer {
    font-family: 'aptos';
    font-size: small;
    padding: 2% 0;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url("../Images/gradient_phone.png");
        border-radius: 25px;
    }

    html {
        padding: 0;
        border-radius: 25px;
    }

    header {
        position: fixed;
        left: 50vw;
        transform: translateX(-50%);
    }

    #navigation {
        top: 0;
        height: fit-content;
        width: 100vw;
        max-height: 15vh;
        padding-top: 6.34vh;

        #left,
        #right {
            padding: 0 0 2vmin 0;
        }
    }

    iframe {
        width: 80vw;
        height: 50vh;
    }
}