body {
    box-sizing: border-box;
    background-color: #141414;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: #141414;
    background-image: url("../Images/gradient_1.png"), url("../Images/gradient_2.png");/*bg image should be 16:9*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top, bottom;
}

html {
    padding: 0.25% 0.25% 0.25% 0.25%;
    background-color: #000000;
    border-radius: 5px;
}

header {
    background-color: transparent;
    border-radius: 5px;
    border-width: 2px 2px 2px 2px;
    border-style: hidden;
    border-color: #eeeeee;
    padding: 1% 1% 2% 1%;
    font-size: 500%;
    font-family: 'aquirebold';
    color: #ff0000;
    animation: header 4s ease-in-out;
}

.head::before {
    content: "NavThinks";
    animation: span 5s ease-in-out;
}

.head {
    transition: 0.6s;
}

.head:hover {
    color: #141414;
}

@keyframes span {
    0% {
        content: "Navraj Kalsi's";
    }   

    50% {
        opacity: 0;
    }

    100% {
        content: "NavThinks";
    }
}   

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.opening {
    display: inline-block;
    font-size: x-large;
    font-family: 'aptos ';
    margin-top: 15%;
    margin-bottom: 19%;
    transition: 0.7s;
}

.opening:hover {
    transform: scale(105%);
}

footer {
    padding: 2% 0;
}

@keyframes header {
    0% {
        padding-top: 23.5vw;
        padding-bottom: 23.5vw;
    }

    100% {
        padding: 1% 1% 2% 1%;
    }
}

.arrow-container {
    margin-top: 0.25%;
    display: inline-flex;
    align-items: center;
    transition: 1s;
    animation: arrow 3s ease-in-out infinite;
}

.arrow {
    margin: auto;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0;
    border-left: 0;
    border-color: #141414;
    transform: rotate(135deg);
    border-style: solid;
}

.arrow-container:hover {
    animation-play-state: paused;
}

@keyframes arrow {
    0% {
        padding-top: 0;
        padding-bottom: 2%;
    }
    
    50% {
        padding-top: 2%;
        padding-bottom: 0;
    }

    100% {
        padding-top: 0;
        padding-bottom: 2%;
    }
}

.scroll-down {
    margin-bottom: -2px;
}

.noBar::-webkit-scrollbar {
    display: none;
  }
  
.noBar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.about_p, .about_h {
    color: #eeeeee;
    font-family: 'aptos';
}

.about_h {
    margin: 3% auto 2% 2%;
    text-align: left;
}

.about_p {
    margin-left: 2%;
    text-align: left;
}

ul {
    margin: 0 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    display: inline-block;
    margin-top: 1.5%;
    padding: 0 3%;
    transform: scale(75%);
}

nav {
    font-family: 'aptos';
    font-size: larger;
    margin-top: 0;
}

/* From: https://www.youtube.com/watch?v=nAjR0Oj0J8E */

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.pages {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.pages_slide {
    padding: 4.5vw 0;
    display: inline-block;
    animation: slide 20s infinite linear;
}

.card {
    background-color: #18191a;
    box-sizing: content-box;
    padding: 0;
    position: relative;
    display: inline-block;
    height: fit-content;
    width: 33vw;
    transition: 0.5s ease-in-out;
    margin: 0 5vw;
    border-color: #18191a;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-radius: 10px;
    box-shadow: 0 0 25px 25px #18191a;

    .title {
        display: block;
        position: absolute;
        float: right;
        top: 31%;
        width: 100%;
        text-align: center;
        z-index: 1000;
        color: white;
        font-family: 'aptos';
        font-weight: 1000;
        font-size: 75px;
    }
}

.card:hover {
    transform: scale(105%);
}

.card_image{
    width: 100%;
    height: auto;
    filter: blur(12px);
    border-radius: 10px;
}

.pages:hover .pages_slide {
    animation-play-state: paused;
}

section {
    padding-bottom: 2%;
    background-color: #141414;
}