body {
    background-color: #141414;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: #eeeeee;
}

html {
    padding: 0.25% 0.25% 0.25% 0.25%;
    background-color: #000000;
    border-radius: 5px;
}

header {
    background-color: #ffffff;
    border-radius: 5px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #eeeeee;
    padding: 1% 1% 2% 1%;
    font-size: 500%;
    font-family: 'aquirebold';
    color: #ff0000;
    transition: 0.5s;
    animation: header 4s ease-in-out;
}

.head::before {
    content: "NavThinks";
    animation: span 5s ease-in-out;
}

header:hover {
    background-color: #000000;
    color: #ffffff;
}

@keyframes span {
    0% {
        content: "Navraj Kalsi's";
    }   

    50% {
        opacity: 0;
    }

    100% {
        content: "NavThinks";
    }
}   

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.opening {
    font-size: x-large;
    font-family: 'aptos ';
    margin-top: 15%;
    margin-bottom: 20%;
}

footer {
    padding-top: 2%;
    padding-bottom: 2%;
}

@keyframes header {
    0% {
        padding-top: 23.5vw;
        padding-bottom: 23.5vw;
    }

    100% {
        padding: 1% 1% 2% 1%;
    }
}

.arrow-container {
    display: flex;
    align-items: center;
    animation: arrow 3s ease-in-out infinite;
}

.arrow {
    margin: auto;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0;
    border-left: 0;
    border-color: #eeeeee;
    transform: rotate(135deg);
    border-style: solid;
}

@keyframes arrow {
    0% {
        padding-top: 0;
        padding-bottom: 2%;
    }
    
    50% {
        padding-top: 2%;
        padding-bottom: 0;
    }

    100% {
        padding-top: 0;
        padding-bottom: 2%;
    }
}

.scroll-down {
    margin-bottom: -1%;
}