body {
    box-sizing: border-box;
    background-color: #141414;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: #141414;
    background-image: url("../Images/gradient_1.png"), url("../Images/gradient_2.png");/*bg image should be 16:9*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top, bottom;
}

html {
    padding: 0.25%;
    background-color: #000000;
    border-radius: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    background-color: transparent;
    padding: 1% 1% 2% 1%;
    font-size: 500%;
    font-family: 'aquirebold';
    color: #ff0000;
    animation: header 4s ease-in-out;
}

.head::before {
    content: "NavThinks";
    animation: span 5s ease-in-out;
}

.head {
    transition: 0.6s;
}

.head:hover {
    color: #141414;
}

@keyframes span {
    0% {
        content: "Navraj Kalsi's";
        color: #141414;
    }   

    50% {
        opacity: 0;
        color: #141414;
    }

    70% {
        color: #ff0000;
    }

    100% {
        content: "NavThinks";
    }
}   

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.opening {
    display: inline-block;
    font-size: x-large;
    font-family: 'aptos ';
    margin-top: 15%;
    margin-bottom: 19%;
    transition: 0.7s;
}

.opening:hover {
    transform: scale(105%);
}

@keyframes header {
    0% {
        padding-top: 23.5vw;
        padding-bottom: 23.5vw;
    }

    100% {
        padding: 1% 1% 2% 1%;
    }
}

.arrow-container {
    margin-top: 0.25%;
    display: inline-flex;
    align-items: center;
    transition: 1s;
    animation: arrow 3s ease-in-out infinite;
}

.arrow {
    margin: auto;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0;
    border-left: 0;
    border-color: #141414;
    transform: rotate(135deg);
    border-style: solid;
}

.arrow-container:hover {
    animation-play-state: paused;
}

@keyframes arrow {
    0% {
        padding-top: 0;
        padding-bottom: 2%;
    }
    
    50% {
        padding-top: 2%;
        padding-bottom: 0;
    }

    100% {
        padding-top: 0;
        padding-bottom: 2%;
    }
}

.scroll-down {
    margin-bottom: -2px;
}

.noBar::-webkit-scrollbar {
    display: none;
  }

.about_p, .about_h {
    color: #eeeeee;
    font-family: 'aptos';
}

.about_h {
    margin: 3% auto 2% 2%;
    text-align: left;
}

.about_p {
    margin-left: 2%;
    text-align: left;
}

ul {
    margin: 0 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    display: inline-block;
    margin-top: 1.5%;
    padding: 0 3%;
    transform: scale(75%);
}

nav {
    font-family: 'aptos';
    font-size: 175%;
    font-weight: 700;
    margin-top: 2%;
}

.animoji {
    display: block;
    position: absolute;
    transform: scale(20%);
    right: -15%;
    top: 62%;
    float: right;
    pointer-events: none;
}

/* From: https://www.youtube.com/watch?v=nAjR0Oj0J8E */

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.pages {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.pages_slide {
    padding: 4.5vw 0;
    display: inline-block;
    animation: slide 20s infinite linear;
}

.card {
    background-color: #18191a;
    box-sizing: content-box;
    padding: 0;
    position: relative;
    display: inline-block;
    height: fit-content;
    width: 31vw;
    transition: 0.5s ease-in-out;
    margin: 0 5vw;
    border-color: #18191a;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-radius: 10px;
    box-shadow: 0 0 25px 25px #18191a;

    .title {
        display: block;
        position: absolute;
        float: right;
        top: 31%;
        width: 100%;
        text-align: center;
        z-index: 1000;
        color: white;
        font-family: 'aptos';
        font-weight: 1000;
        font-size: 4.5vw;
    }
}

.card:hover {
    transform: scale(105%);
}

.card_image{
    width: 100%;
    height: auto;
    filter: blur(10px);
    border-radius: 10px;
}

.pages:hover .pages_slide {
    animation-play-state: paused;
}

section {
    padding-bottom: 2%;
    background-color: #141414;
}

footer {
    font-family: 'aptos';
    font-size: small;
    padding: 2% 0;
}

/* Source: https://www.youtube.com/watch?v=MBaw_6cPmAw */

#learnt {
    color: #eeeeee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(95%);
    transition: 0.35s ease-in-out;
    border: 2px solid #141414;
    border-radius: 10px;
    z-index: -1;
    background-color: #141414;
    width: 95vw;
    opacity: 0;
    max-width: 95vw;
}

#learnt.active {
    z-index: 1001;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#learnt_header {
    font-family: 'Tusker Grotesk SB 3600';
    font-size: 300%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #141414;
    padding: 2% 2% 5% 2%;
}

#learnt_close {
    padding: 0% 0.5% 0 0;
    font-weight: 600;
    color: #eeeeee;
    transform: scale(350%);
}

#overlay {
    position: fixed;
    transition: 0.5s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    height: 100%;
}

button:hover {
    transform: scale(103%);
}

#learning {
    display: inline-block;
    font-family: 'aptos';
    font-size: 140%;
    margin: 3% 0 2% 0;
    z-index: 999;
}

#learnt_body {
    font-family: 'aptos';
    font-size: 125%;
    line-height: 200%;
    margin: 0 auto 5vh auto;
}