body {
    background-color: #141414;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    color: #141414;
    background-image: url("../Images/gradient_1.png");/*bg image should be 16:9*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

html {
    padding: 0.25% 0.25% 0.25% 0.25%;
    background-color: #000000;
    border-radius: 5px;
}

header {
    background-color: transparent;
    border-radius: 5px;
    border-width: 2px 2px 2px 2px;
    border-style: hidden;
    border-color: #eeeeee;
    padding: 1% 1% 2% 1%;
    font-size: 500%;
    font-family: 'aquirebold';
    color: #ff0000;
    animation: header 4s ease-in-out;
}

.head::before {
    content: "NavThinks";
    animation: span 5s ease-in-out;
}

.head {
    transition: 0.6s;
}

.head:hover {
    color: #141414;
}

@keyframes span {
    0% {
        content: "Navraj Kalsi's";
    }   

    50% {
        opacity: 0;
    }

    100% {
        content: "NavThinks";
    }
}   

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.opening {
    display: inline-block;
    font-size: x-large;
    font-family: 'aptos ';
    margin-top: 15%;
    margin-bottom: 19%;
    transition: 0.7s;
}

.opening:hover {
    transform: scale(105%);
}

footer {
    padding-top: 2%;
    padding-bottom: 2%;
}

@keyframes header {
    0% {
        padding-top: 23.5vw;
        padding-bottom: 23.5vw;
    }

    100% {
        padding: 1% 1% 2% 1%;
    }
}

.arrow-container {
    margin-top: 0.25%;
    display: inline-flex;
    align-items: center;
    transition: 1s;
    animation: arrow 3s ease-in-out infinite;
}

.arrow {
    margin: auto;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-top: 3px;
    border-right: 3px;
    border-bottom: 0;
    border-left: 0;
    border-color: #141414;
    transform: rotate(135deg);
    border-style: solid;
}

.arrow-container:hover {
    animation-play-state: paused;
}

@keyframes arrow {
    0% {
        padding-top: 0;
        padding-bottom: 2%;
    }
    
    50% {
        padding-top: 2%;
        padding-bottom: 0;
    }

    100% {
        padding-top: 0;
        padding-bottom: 2%;
    }
}

.scroll-down {
    margin-bottom: 0;
}