* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 0.75%;
    border-radius: 5px;
    background-color: black;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
}

html::-webkit-scrollbar {
    display: none; 
}

.addB {
    background: #141414;
}

body {
    transition: 0.75s ease-in-out;
    background-color: #f2f2f2;
    border-radius: 5px;
    background-image: url("../Images/gradient_ultimate.png");
    background-size: contain;
    background-repeat: repeat-y;
}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 998;
    padding: 0 4em;
    margin: -0.75%;
    background: transparent;
}

a {
    text-decoration: none;
    color: #141414;
    font-family: 'aptos';
}

.left, .right {
    transition: 1s;

    a {
        font-size: 125%;
    }
}

.left:hover, .right:hover {
    transform: scale(125%);
}

header {
    position: sticky;
    top: -12vh;
    left: 35vw;
    font-size: 500%;
    z-index: 999;
    align-content: center;
    transform: scale(95%);

    a {
        font-family: 'aquirebold';
        align-self: center;
        color: #141414;
    }

    .head {
        transition: 0.5s ease-in-out;
    }
    
}

p {
    width: 100%;
    height: 55vh;
    position: relative;
    z-index: -1;
}

@keyframes show {
    to {opacity: 1;}
}

.fixed {
    top: 0vh;
    position: sticky;
}

@keyframes showSpan {
    to {opacity: 1;}
}

@keyframes hideC {
    to {opacity: 0;}
}

ul {
    position: relative;
    margin-top: -30vh;
    padding: 0 0;
    position: relative;
    z-index: 1000;
    list-style-type: none;
    text-align: left;

    li { 

        /* display: inline-block; */
        animation: show 1s ease-in-out forwards, hideC 1s ease-in-out forwards;
        animation-timeline: view(), view();
        animation-range-start: 75vh, 195vh;
        animation-range-end: 100vh, 230vh;
        opacity: 0;
        margin: -30vh 0 0 0;
        padding: 0;

        img {
            animation: imgFade 8s;
            width: 100%;
            height: auto;
        }
    }

    span {
        margin: -5vh auto 0 3vw;
        opacity: 0;
        display: block;
        color: #fff;
        font-size: 1000%;
        font-family: 'Tusker Grotesk SB 3600';
        animation: showSpan 1s ease-in-out forwards;
        animation-timeline: view(75vh 25vh);
    }

    div {
        opacity: 0;
        text-align: center;
        font-size: 150%;
        margin-top: 55vh;
        color: white;
        height: 25vh;
        font-family: 'aptos';
        animation: showSpan 2s ease-in-out forwards, hideC 2s ease-in-out forwards;
        animation-timeline: view(), view();
        animation-range-start: 10vh, 23vh;
        animation-range-end: 15vh, 30vh;
    }
}

@keyframes imgFade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

footer {
    font-family: 'aptos';
    font-size: small;
    padding: 2% 0;
}
