* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 0.75%;
    border-radius: 5px;
    background-color: black;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    transition: 1s ease-in-out;
    background-color: #f2f2f2;
    border-radius: 5px;
    background-image: url("../Images/gradient_ultimate.png");
    background-size: contain;
    background-repeat: repeat-y;
}

@keyframes black_nav {
    to {background-color: black;}
}

@keyframes black_div {
    to {color: #eeeeee}
}

@keyframes black_head {
    to {color: white;}
}

#navigation {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 998;
    padding: 0 4em;
    margin: -0.75%;
    background: none;
    animation: black_nav ease-in-out forwards;
    animation-timeline: scroll();
    animation-range-end: 50vh; /*Set same as the height of head from top*/

    a {
        animation: black_div forwards;
        animation-timeline: scroll();
        animation-range-end: 50vh; /*Set same as the height of head from top*/
    }
}

a {
    text-decoration: none;
    color: #141414;
    font-family: 'aptos';
}

#left, #right {
    transition: 1s;

    a {
        font-size: 125%;
    }
}

#left:hover, #right:hover {
    transform: scale(125%);
}

header {
    position: fixed;
    top: -1vh;
    left: 50vw;
    transform: translateX(-50%);
    font-size: 500%;
    z-index: 998;
    align-content: center;

    a {
        font-family: 'aquirebold';
        align-self: center;
        color: #141414;
        animation: black_head forwards;
        animation-timeline: scroll();
        animation-range-end: 50vh;
    }

    #head {
        transition: 0.25s linear;
    }
}

p {
    position: relative;
    width: 100%;
    height: 69vh;
    z-index: -1;
}

#spotify {
    padding-top: 10vh;
    top: 100vh;
}

#apple_music {
    top: 175vh;
}

#spotify, #apple_music {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    width: 55vw;
    height: 60vh;
    border-radius: 10px;
}

#socials {
    margin-top: 3%;
    width: 100%;
    font-family: 'aptos';
    font-size: 175%;
    font-weight: 700;

    #socials_list {
        margin: 0;
        padding: 0 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        animation: none;

        .app {
            margin-top: 1.5%;
            padding: 0 3%;
            display: inline-block;
            transform: scale(75%);
            animation: none;

            img {
                animation: none;
                display: block;
            }
        }
    }
}

/* Source: https://www.youtube.com/watch?v=MBaw_6cPmAw */

#learnt {
    color: #eeeeee;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(95%);
    transition: 0.35s ease-in-out;
    border: 2px solid #141414;
    border-radius: 25px;
    z-index: -1;
    background-color: #141414;
    width: 95vw;
    opacity: 0;
    max-width: 95vw;
}

#learnt.active {
    z-index: 1001;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#learnt_header {
    font-family: 'Tusker Grotesk SB 3600';
    font-size: 300%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #141414;
    padding: 2% 2% 5% 2%;
}

#learnt_close {
    padding: 0% 0.5% 0 0;
    font-weight: 600;
    color: #eeeeee;
    transform: scale(350%);
}

#overlay {
    position: fixed;
    transition: 0.5s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    z-index: 1000;
    pointer-events: all;
}

button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    height: 100%;
}

button:hover {
    transform: scale(103%);
}

#learning {
    display: inline-block;
    font-family: 'aptos';
    font-size: 140%;
    margin: 2%;
    margin-top: 100vh;
    z-index: 999;
}

#learnt_body {
    font-family: 'aptos';
    font-size: 125%;
    line-height: 200%;
    margin: 0 auto 5vh auto;
}

footer {
    font-family: 'aptos';
    font-size: small;
    padding: 2% 0;
}