@font-face {
    font-family: 'aquirebold';
    src: url("../Resources/Fonts/aquirebold-8ma60-webfont.woff2") format('woff2'),
         url("../Resources/Fonts/aquirebold-8ma60-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aquirelight';
    src: url("../Resources/Fonts/aquirelight-yze0o-webfont.woff2") format('woff2'),
         url("../Resources/Fonts/aquirelight-yze0o-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aquireregular';
    src: url("../Resources/Fonts/aquire-bw0ox-webfont.woff2") format('woff2'),
         url("../Resources/Fonts/aquire-bw0ox-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aptos';
    src: url("../Resources/Fonts/aptos.woff2") format('woff2'),
        url("../Resources/Fonts/aptos.woff") format('woff');
    font-weight: normal;
    font-size: normal;
}