body {
    background-color: #141414;
    padding: 0.2% 0.2% 0.2% 0.2%;
}

header {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1% 1% 2% 1%;
    font-size: 500%;
    font-family: 'aquirebold';
    color: #ff0000;
    transition: 0.5s;
}

span::before {
    content: "NavThinks";
    animation: header 5s ease-in-out;
}

header:hover {
    background-color: #000000;
    color: #ffffff;
}

@keyframes header {
    0% {
        content: "Navraj Kalsi";
    }   

    50% {
        opacity: 0;
    }

    100% {
        content: "NavThinks";
    }
}   